:root{
    --colordark-blue: #363f5f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 93.75%;
}
body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: min(92vw, 800px);
    margin: auto;
}
a:hover {
    color: #3dd705;

}
a {
    color: #49aa26;
    text-decoration: none;
}
.button.new {
    display: inline-block;
    margin-bottom: .8rem;

}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: #363f5f;

    font-weight: normal;
}
header{
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}
#logo {
    color: #fff;
    font-weight: 100;
}
#balance {
    margin-top: -8rem;
}

#balance h2{
    color: white;
    margin-top: 0;

}
.card h3{
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card p{
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}
.card{
    background: white;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    color: var(--colordark-blue);

}
.card.total{
    background: #49aa26;
    color: white;
}
#data-table{
    width: 100%;
    border-spacing: 0 0 .5rem;
    color: #8993b9;
}
table thead tr th:first-child,
table tbody tr td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child{
    border-radius: 0 0.25rem 0.25rem 0 ;
}
table tbody tr:hover {
    opacity: 1;
}
table tbody tr {
    opacity: .7;
}
table tbody td {
    background: white;
    padding: 1rem 2rem ;
    
}

table thead th {
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
    
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0,);
    white-space: nowrap;
    border-width: 0;

}

td.description{
    color: var(--colordark-blue);
}
td.income{
    color: #49aa26;
}
td.expense{
    color: rgb(230, 23, 23);
}
footer{
    margin: 1rem;
    text-align: center;
}
@media (min-width:800px){
    html {
        font-size: 87.5%;
    }

    #balance{
        display: grid;

    }

}